@media screen {


  #headBox { 
    position: relative;
    width: 100%; 
    height: 100px;
    /* background-color: #eee; */
    box-sizing: border-box;
    border-bottom: 1px solid #888;
  }
  .head_box_wrapper {
    position: relative; left: 50%; top: 0; z-index: 1000;
    width: 100%; max-width: 1064px;
    height: 100%;
    align-items: center;
    transform: translate(-50%);
    /* background-color: #ccc; */
  }
  .head_box_inner {
    position: absolute; top: 0;bottom: 0;
    margin: auto;
    width: 100%; height: 40px;
    /* background-color: #94d; */
  }
  #logo {
    position: absolute; left: 0;
    width: 229px; height: 40px;
    /* background-color: #daa; */
  }
  #logo > a {
    display: block;
    width: 100%; height: 100%;
    background-image: url("../../image/common/logo-signature.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }
  
  .user_navibar { 
    position: absolute; right: 0;
    display: flex;
    justify-content: space-evenly;
    width: auto; height: 30px;
    /* background-color: #1af; */
  }
  
  /* _____________________드롭다운  */
  .user_navibar form {
    display: block;
    float: left;
    width: 300px; height: 100%;
    margin-top: 5px;
    /* background-color: #ddd; */
    border: 1px solid #555;
    border-radius: 5px;
    overflow: hidden;
  }
  #search { 
    display: block;
    float: left;
    width: calc( 100% - 30px); height: 100%; 
    padding: 0; box-sizing: border-box; 
    border: 1px solid #555;
    border-right: 0;
    border: 0;
    /* border-radius: 5px 0 0 5px; */
    /* border-radius: 5px; */
  } 
  .search_btn {
    float: right;
    box-sizing: border-box; 
    border-left: 1px solid #555;
  }
  
  
  .user_drop_down { 
    display: block;
    position: absolute; right: 0; top: 70px;
    display: flex;
    flex-direction: column;
    width: 145px; height: 260px;
    padding: 30px 10px 20px; box-sizing: border-box;
    background-color: #eee;
  }
  .user_drop_down > li {
    width: 100%; height: calc(200px / 5);
    padding: 5px 0; box-sizing: border-box;
    border-bottom: 1px solid #555;
  }
  
  .user_drop_down a {
    display: block;
    width: 100%; height: 100%;
    text-align: center;
  }
  .user_drop_down > li:nth-of-type(6) { border-bottom: 0;}
  
  .user_btn, .cart_part { 
    width: 30px;  height: 30px;
    margin-top: 5px;
    margin-left: 20px;
  }
  
  .search_btn_view{ 
    margin-top: 5px;
  }
  .search_btn_view, .search_btn{ 
    width: 30px;  height: 30px;
    /* background-color: #1dd; */
  }
  .user_navibar button{ 
    display: block;
    width: 100%; height: 100%;
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .search_btn button{ background-image: url("../../image/common/icon-search-48.svg"); }
  .search_btn_view button{ background-image: url("../../image/common/icon-search-48.svg"); }
  .cart_part button{ background-image: url("../../image/common/icon-cart-48.svg");}
  .cart_part_view button{ background-image: url("../../image/common/icon-cart-48.svg");}
  .user_btn button{ background-image: url("../../image/common/icon-person.svg");}
  
  
  .cart_part_view, .li_search_btn {display: none;}
  
  
  
  /* ____________________________________________________슬라이드 */
  
  #slideBox { 
    position: relative;
    width: 100%; height: 100%; min-height: 800px;
  }
  .slide_box_wrapper {
    position: absolute; left: 50%;
    width: 100%; max-width: 1440px;
    height: 100%;
    transform: translate(-50%);
    background-image: url("../../image/slide/img-signature-artguide03.jpg");
    background-repeat: no-repeat;
    /* background-position: 50% 50%; */
    background-size: cover;
    /* background-color: #a66; */
  }
  .slide_title_part {
    position: absolute; top: 50%; left: 20%;
    width: auto; height: 0;
    color: #fff;
    /* background-color: #fff; */
  }
  .slide_title_part span {
    display: block;
    line-height: 150%;
    text-align: left;
    word-break: keep-all;
    font-size: 48px; font-weight: 900;
  } 
  .slide_title_part span:first-child {
    font-size: 40px;
  }
  
  
  
  /* _______________________________________________ */