@media screen {


  #headBox { 
    position: relative;
    width: 100%; 
    height: 100px;
    /* background-color: #eee; */
    box-sizing: border-box;
    border-bottom: 1px solid #888;
  }
  .head_box_wrapper {
    position: relative; left: 50%; top: 0; z-index: 1000;
    width: 100%; max-width: 1064px;
    height: 100%;
    align-items: center;
    transform: translate(-50%);
    /* background-color: #ccc; */
  }
  .head_box_inner {
    position: absolute; top: 0;bottom: 0;
    margin: auto;
    width: 100%; height: 40px;
    /* background-color: #94d; */
  }
  #logo {
    position: absolute; left: 0;
    width: 229px; height: 40px;
    /* background-color: #daa; */
  }
  #logo > a {
    display: block;
    width: 100%; height: 100%;
    background-image: url("../../image/common/logo-signature.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }
  
  .user_navibar { 
    position: absolute; right: 0;
    display: flex;
    justify-content: space-evenly;
    width: auto; height: 30px;
    /* background-color: #1af; */
  }
  
  /* _____________________드롭다운  */
  .user_navibar form {
    display: block;
    float: left;
    width: 300px; height: 100%;
    margin-top: 5px;
    /* background-color: #ddd; */
    border: 1px solid #555;
    border-radius: 5px;
    overflow: hidden;
  }
  #search { 
    display: block;
    float: left;
    width: calc( 100% - 30px); height: 100%; 
    padding: 0; box-sizing: border-box; 
    border: 1px solid #555;
    border-right: 0;
    border: 0;
    /* border-radius: 5px 0 0 5px; */
    /* border-radius: 5px; */
  } 
  .search_btn {
    float: right;
    box-sizing: border-box; 
    border-left: 1px solid #555;
  }
  
  
  .user_drop_down { 
    display: block;
    position: absolute; right: 0; top: 70px;
    display: flex;
    flex-direction: column;
    width: 145px; height: 260px;
    padding: 30px 10px 20px; box-sizing: border-box;
    background-color: #eee;
  }
  .user_drop_down > li {
    width: 100%; height: calc(200px / 5);
    padding: 5px 0; box-sizing: border-box;
    border-bottom: 1px solid #555;
  }
  
  .user_drop_down a {
    display: block;
    width: 100%; height: 100%;
    text-align: center;
  }
  .user_drop_down > li:nth-of-type(6) { border-bottom: 0;}
  
  .user_btn, .cart_part { 
    width: 30px;  height: 30px;
    margin-top: 5px;
    margin-left: 20px;
  }
  
  .search_btn_view{ 
    margin-top: 5px;
  }
  .search_btn_view, .search_btn{ 
    width: 30px;  height: 30px;
    /* background-color: #1dd; */
  }
  .user_navibar button{ 
    display: block;
    width: 100%; height: 100%;
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .search_btn button{ background-image: url("../../image/common/icon-search-48.svg"); }
  .search_btn_view button{ background-image: url("../../image/common/icon-search-48.svg"); }
  .cart_part button{ background-image: url("../../image/common/icon-cart-48.svg");}
  .cart_part_view button{ background-image: url("../../image/common/icon-cart-48.svg");}
  .user_btn button{ background-image: url("../../image/common/icon-person.svg");}
  
  
  .cart_part_view, .li_search_btn {display: none;}
  
  
  
  /* ____________________________________________________슬라이드 */
  
  #slideBox { 
    position: relative;
    width: 100%; height: 100%; min-height: 800px;
  }
 
  .slide_box_wrapper {
    position: absolute; left: 50%;
    width: 100%; max-width: 1440px;
    height: 100%;
    transform: translate(-50%);
    background-image: url("../../image/slide/img-signature-artguide03.jpg");
    background-repeat: no-repeat;
    /* background-position: 50% 50%; */
    background-size: cover;
    /* background-color: #a66; */
  }
  .slide_title_part {
    position: absolute; top: 50%; left: 20%;
    width: auto; height: 0;
    color: #fff;
    /* background-color: #fff; */
  }
  .slide_title_part span {
    display: block;
    line-height: 150%;
    text-align: left;
    word-break: keep-all;
    font-size: 48px; font-weight: 900;
  } 
  .slide_title_part span:first-child {
    font-size: 40px;
  }
  
  
  
  /* _______________________________________________ */



  #mainTab {
    display: block;
    position: relative; z-index: 2000;
    width: 100%; height: 100px;
    /* margin-top: 10px; */
    background-color: #fff;
    /* background-color: #f9f9f9; */
  }
  #mainTab.fixed {position: fixed; top: 0;}
  
  .main_tab_wrapper {
    position: absolute; left: 50%; bottom: 0;
    width: 100%; max-width: 1160px; height: 50px;
    box-sizing: border-box;
    transform: translate(-50%);
    border-bottom: 1px solid #111;
    /* background-color: #daa; */
  }
  .main_tab_inner { 
    position: absolute;
    width: 100%; height: 100%;
    /* background-color: #1dd; */
  }
  .tab_inner {
    position: absolute; left: 50%;
    display: flex;
    justify-content: space-between;
    width: 80%; height: auto;
    transform: translate(-50%);
    /* background-color: #555; */
  }
  .tab_inner > li {
    width: 200px; height: auto;
    font-size: 20px;
    /* background-color: #add; */
  }
  .tab_inner > li:last-child { margin-right: 0;}
  
  .tab_inner a {
    display: block;
    width: auto; height: 25px;
    text-align: center;
    line-height: 25px;
  }
  .tab_btn,
  .main_title_area { display: none; }
  
  /* ================================================= */





/* #tabArticle {
  width: 100%; height: auto; min-height: 3500px;
  padding-top: 100px; 
  background-color: #ccc;
}
.tab_article_wrap {
  width: 100%; height: 100%;
} */





/* =========================================================== */
  
  
  #artGallery {
    position: relative;
    width: 100%; height: 960px;
    /* background-color: #eee; */
  }
  #artGallery.off {
    display: none;
  }
  .art_gallery_wrapper {
    position: absolute; left: 50%; top: 0; bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 1024px; height: 710px;
    margin: auto;
    transform: translate(-50%);
    /* background-color: #fff; */
  }
  .art_image {
    width: 672px; height: 100%;
    background-image: url("../../image/artGallery/img-signature-gallery.jpg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: #555; */
  }
  .art_title_part {
    width: 322px; height: 100%;
    background-color: #222;
  }
  .art_title_inner {
    width: 300px; height: 328px;
    margin: auto; margin-top: 175px;
    /* background-color: #666; */
  }
  .art_title {
    width: 100%; height: 116px;
    margin-bottom: 22px;
    font-size: 40px; font-weight: 700;
    line-height: 130%;
  }
  .art_subtitle {
    width: 180px; height: 116px;
    line-height: 150%;
    word-break: keep-all;
  }
  .art_title, .art_subtitle { color: #fff; }
  
  .art_btn { 
    width: 120px; height: 32px;
    border: 1px solid #fff;
    border-radius: 20px;
  }
  .art_btn button[type="button"] {
    display: block;
    width: 100%; height: 100%;
    text-align: center;
    color: #fff;
  }

  /* ============================================ */

 
#mediaGallery {
  position: relative;
  width: 100%; height: 1700px;
  background-color: #1C1C1C;
  --slide-len:5;
}
#mediaGallery.off {
  display: none;
}

/* --------------------------------------------- */
.gallery_indicator { display: none;}

.gallery_btns {
  position: absolute; top: 0; bottom: 0; z-index: 100;
  width: 1240px; height: 0;
  margin: auto;
}
.gallery_btns button[type="button"] { 
  display: block;
  width: 50px; height: 150px;
}
.gallery_btns button[type="button"]:hover {
  background-color: #1C1C1C77;
}
.g_next_btn {
  float: right;
  background-image: url("../../image/common/next_arrow.svg");
}
.g_prev_btn {
  float: left;
  background-image: url("../../image/common/prev_arrow.svg");
}
/* -------------------------------------------- */

.main_gallery_wrapper {
  position: relative; top: 273px;
  width: 1024px; height: 1154px;
  transform: translate( -50%);
  overflow: hidden;
}
.gallery_section_area {
  float: left;
  width: 546px; height: 650px;
  /* background-color: #add;  */
}
.section_title {
  width: 100%; height: calc( 650px - 398px);
  padding-top: 66px; box-sizing: border-box;
  /* background-color: #444; */
}
.section_title dl { 
  width: 440px; height: 120px;
  margin: auto;
  /* background-color: #ccc; */
}
.section_title dt { 
  width: 100%; height: 44px;
  margin-bottom: 32px;
  font-size: 36px; font-weight: 700;
  color: #fff;
}
.section_title dd {
  width: 80%; height: 44px;
  font-size: 18px; font-weight: 400;
  color: #fff;
  word-break: keep-all;
}

.main_gallery_wrapper button {
  width: 100%; height: 100%;
}
.gallery_section1 {
  width: 100%; height: 398px;
  overflow: hidden;
}
.gallery_section2 {
  position: absolute; right: 0;
  width: 470px; height: 650px;
}
.gallery_section3 {
  position: absolute; bottom: 0;
  width: 100%; height: 464px;
}

.bg_cover {
  display: block;
  width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity:0;
}

/* =============================================================== */


.modal_window {
  display: none;
  /* display: block; */
  position: fixed; top: 0; left: 0;
  z-index: 2000;
  width: 100%; height: 100%;
}
.modal_data {
  position: absolute; 
  top: 50%; left: 50%; 
  z-index: 100;
  width: 1000px; height: 700px;
  padding: 10px; padding-top: 60px;
  border: 1px solid #333;

  background-color: #fff;
  border-radius: 0.5rem;
  transform: translate(-50% , -50%);
}
.close_btn {
  position: absolute; 
  top: 5px; right: 10px;
  width: 48px; height: 48px;
}
.close_btn button {
  width: 100%; height: 100%;
  background-color: #eee;
  border-radius: 100%;
  background-image: url("../../image/common/btn-close-48.svg");
  background-position: 50% 50%;
  background-size: contain;
}

.modal_content {
  width: 100%; height: 100%;
 background-color: #ccc;
}
.modal_bg {
  width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

/* ============================================================= */

#brandPhilosophy {
  width: 100%; height: 4500px;
  padding-top: 100px;
  background-color: #bbb;
}
#brandPhilosophy.off {
  display: none;
}

.brand_wrap {
  position: relative;
  width: 100%; height: 100%;
  background-color: #ddd;
}
.brand_title {
  width: 100%; height: 270px;
  
  background-color: #999;
}
.brand_title span {
  position: relative; left: 50%; top: 150px;
  display: block;
  width: 150px; height: 50px;
  transform: translate(-50%);
  line-height:  50px;
  font-size: 30px; font-weight: 700;
}
.brand_section {
  position: absolute; left: 50%; 
  width: 100%; max-width: 1360px; height: auto; min-height: 500px;
  transform: translate(-50%);
  /* background-color: #eeadde; */
}
.brand_section.area01 {
  top: 270px;
  height: 1040px;
 background-color: #add5; 
}
.area01 .brand_img {
  width: 100%; height: 762px;
  background-color: #add;
}
.area01 .brand_text {
  width: 100%; height: calc(1040px - 762px);
  background-color: #eee;
}
.area01 .text_dl {
  width: auto; height: 80px;
  margin: auto;
  background-color: #fff;
}
.area01 .text_dl dt {
  display: inline-block;
  width: 220px; height: 100%;
}
.area01 .text_dl dd {
  display: inline-block;
  width: 690px; height: 100%;
  word-break: keep-all;
}
/* ______________________________________ */
.area_wrap {
  width: 100%; height: 514px;
  margin-bottom: 150px;
  background-color: #bbb;
}
.brand_section.area02 {
  top: 1310px;
  height: auto;
  background-color: #ddff;
}
.area02 .brand_img {
  width: 910px; height: 514px;
  background-color: #add;
}
.area02 .area_wrap:nth-child(1) .brand_img {
  float: left;
  background-color: #1dd;
}
.area02 .area_wrap:nth-child(2) .brand_img{
  float: right;
  background-color: #1fa;
}
/* _____________________________________ */
.brand_section.area03 {
  top: 1328px;
  width: 100%; height: 766px;
  background-color: #555;
}
.area03 .brand_img {
  width: 100%; height: 396px;
  background-color: #add6;
}
/* ___________________________________ */
.brand_section.area04 {
  top: 2094px;
  height: 1120px;
  background-color: #eee;
}
.area04 .brand_img {
  width: 100%; height: 762px;
  background-color: #add;
}










}